<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Vozear</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <style>
        .dark-mode-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Dark mode (seu código existente)
        if (localStorage.getItem("dark-mode") === "true") {
            document.body.classList.add("dark-mode");
        }

        const darkModeToggle = document.querySelector('.dark-mode-toggle');
        if (darkModeToggle) {
            darkModeToggle.addEventListener('click', toggleDarkMode);
        }

        function toggleDarkMode() {
            document.body.classList.toggle("dark-mode");
            localStorage.setItem("dark-mode", document.body.classList.contains("dark-mode"));
        }

    });
</script>
<img src="{{ url_for('static', filename='senac.png') }}" alt="Senac" style="position: absolute; top: 50px; left: 10px; width: 200px;">
<button class="dark-mode-toggle" onclick="toggleDarkMode()">🌙 ☀️</button>
<button style="position: absolute; top: 50px; right: 10px;" onclick="window.location.href='{{ url_for('index') }}'">Início</button>

    <img src="{{ url_for('static', filename='logo.png') }}" alt="Vozear Logo" style="width: 200px; height: auto;">
    <div style="text-align: justify;">
    <p>O <span style="color: rgb(29, 79, 29); font-weight: bold;">VOZEAR</span> é um projeto desenvolvido por mim, Maristela Oliveira, 
        🎓docente nos cursos de tecnologia da informação e o aluno Marcos Antônio no <span style="color: rgb(239, 120, 8); font-weight: bold;">SENAC DF</span>, com o objetivo de facilitar o acesso à informação através da conversão de texto📄 em áudio🔊.</p>
    <p>O projeto foi inspirado na necessidade do Marcos, que é deficiente visual. Eu precisei tornar o conteúdo digital mais acessível, o aluno Marcos auxiliou na análise de requisitos e testes. 
        O intuito é oferecer uma alternativa para estudantes que preferem ouvir o conteúdo em vez de lê-lo.</p>
    <p>O <span style="color: rgb(29, 79, 29); font-weight: bold;">VOZEAR</span> utiliza a tecnologia de síntese de voz da Microsoft, que oferece vozes naturais e de alta qualidade. 
        É uma ferramenta útil para estudantes, profissionais e qualquer pessoa que deseje consumir informações de forma mais acessível. 
        Ele suporta a conversão de textos digitados diretamente na interface ou enviados como arquivos PDF, além de permitir escolher entre diferentes vozes e ajustar a velocidade da leitura. 
        O arquivo de áudio gerado fica disponível para download por 10 minutos após a conversão, depois será deletado automaticamente para não sobrecarregar o servidor.</p>
    <p>Esse projeto foi desenvolvido em Python🐍 com o framework web Flask🌶️, garantindo uma interface simples e intuitiva. 
        O deploy foi feito no Azure, em uma conta educacional utilizando o recurso de Aplicativo Web, o que garante um ambiente seguro e confiável.
        A implantação está sendo feita através do repositório no GitHub Pró Education, onde o código fonte está disponível para consulta e colaboração. 
        O logotipo foi desenvolvido por mim utilizando a IA do Canva educacional e é uma representação visual do projeto <span style="color: rgb(29, 79, 29); font-weight: bold;">VOZEAR</span>.</p>
    <p>Se você tiver alguma dúvida ou sugestão, sinta-se à vontade para entrar em contato: <a href="https://github.com/MARISTELAOLIVEIRA">GitHub</a> | maristela.4603@df.senac.br</p>
</div>
<footer>
    &copy; Maristela | Senac DF 🐍 🌶️ 2025 v 1.2
</footer>
</body>
</html>
